body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 25px;
}

.header {
    border:1px solid black;
    
}
.heading    {
    margin : 20 auto;
    text-align:center;
}

#loginBtnAtHome {
    position:absolute;
    right:100px;

}
#logoutBtnAtHome    {
    position:absolute;
    right:10px;
}