body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.header {
    border:1px solid black;
    
}
.heading    {
    margin : 0 auto;
}

#loginBtnAtHome {
    position:absolute;
    right:70px;
    display:inline;
}
#logoutBtnAtHome    {
    position:absolute;
    right:0;
}